@model IEnumerable<Electronic_G5.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vietnamCulture = new System.Globalization.CultureInfo("vi-VN");

}
<section id="all" class="my-5">
    <div class="container my-5 py-5">

        <div class="section-header d-md-flex justify-content-between align-items-center">
            <h2 class="display-3 fw-normal">Sản phẩm</h2>
            @*<div>
                    <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                        Mua ngay
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>*@
        </div>
        <div class="mb-4 mb-md-0">
            <p class="m-0">
                <button class="filter-button me-4  active" data-filter="*">Tất cả sản phẩm</button>
                <button class="filter-button me-4 " data-filter=".new">Sản phẩm mới nhất</button>
                <button class="filter-button me-4 " data-filter=".bestSeller">Sản phẩm bán chạy</button>
                <button class="filter-button me-4 " data-filter=".sort">Sắp xếp theo giá</button>
            </p>
        </div>
        <div class="isotope-container row gap-3">
            <!--all-->
            @foreach (var product in Model)
            {
                var imageUrl = "~/wwwroot/Images/" + product.image_url;
                <div class="card col-md-4 col-lg-3 my-3 shadow-sm">
                    <input type="hidden" id="sp_ma" value="@product.product_id" />
                    <input name="quantity" class="quantity" type="hidden" value="1">
                    <span class="d-none" id="productPrice">@product.price</span>
                    @*<div class="card position-relative">*@
                    <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.product_id})">
                        @if (product.image_url != null)
                        {
                            <img src="@Url.Content(imageUrl)" class="img-fluid w-100" alt="ảnh">
                        }
                        else
                        {
                            <img src="default-image.jpg" class="img-fluid" alt="Default Image">
                        }
                    </a>
                    <div class="card-body p-2">
                        <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.product_id})">
                            <h6 class="card-title pt-4 m-0 text-center font-weight-bold">@product.product_name</h6>
                        </a>
                        <div class="card-text text-center">
                            @if (product.ProductOptions.Count() > 1)
                            {
                                <p class="secondary-font text-primary">@product.ProductOptions.First().product_option_price.ToString("N0", vietnamCulture) đ - @product.ProductOptions.Last().product_option_price.ToString("N0", vietnamCulture) đ  </p>

                            }
                            else
                            {

                                <p class="secondary-font text-primary">@product.price.ToString("N0", vietnamCulture) đ</p>
                            }
                            <p>Đã bán: @product.quantity_sold</p>
                            <div class="d-flex flex-wrap mt-3">
                                <a href="#" data-productId="@product.product_id" class="btn w-100 btn-cart add-to-cart">
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                </div>
                @*<div class=" item all col-md-4 col-lg-3 my-4">
                <div class="card position-relative">
                    <a href="single-product.html">

                            <img src="~/wwwroot/Images/@product.image_url" class="img-fluid" width="300" alt="ảnh">

                    </a>
                    <div class="card-body p-0">
                        <a href=" @Url.Action("ChiTietSP","Home")">
                            <h3 class="card-title pt-4 m-0">@product.product_name</h3>
                        </a>
                        <div class="card-text">
                            <h3 class="secondary-font text-primary">$18.00</h3>
                            <div class="d-flex flex-wrap mt-3">
                                <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            }

        </div>

    </div>
</section>

