@model Electronic_G5.Models.Product
@using PagedList.Mvc;
@{
    ViewBag.Title = "ChiTietSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vietnamCulture = new System.Globalization.CultureInfo("vi-VN");
    var unDecrease = Model.stock - Model.quantity_sold;
}
<style>
    .product-option {
        cursor: pointer;
        padding: 1px 16px;
        border: 1px solid #000;
        width: fit-content
    }

        .product-option.active {
            border: 2px solid yellow;
        }
</style>
<!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post"
                  action="@Url.Action("ChiTietSP", "Home", new { id = Model.product_id })">
                <input type="hidden" name="product_id" id="sp_ma" value="@Model.product_id">
                <input type="hidden" name="product_name" id="sp_ten" value="@Model.product_name">
                <input type="hidden" name="price" id="price" value="@Model.price">
                <input type="hidden" name="image_url" id="hinhdaidien" value="@Model.image_url">

                <div class="row">
                    <div class="col-md-4">
                        <div class="tab-pane" id="pic-1">
                            <img id="mainImage" src="~/wwwroot/Images/@Model.image_url" class="img-fluid w-100" alt="@Model.product_name">
                        </div>
                        <div class="d-flex align-items-center gap-2 mt-2">
                            @if (Model.Images != null && Model.Images.Count() > 0)
                            {
                                foreach (var item in Model.Images)
                                {
                                    <div class="col-4 gap-2 p-1">
                                        <img id="" src="~/wwwroot/Images/@item.image_url" class="img-fluid gallery_item w-100" data-img="@Url.Content("~/wwwroot/Images/" + item.image_url)">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="product-title">@Model.product_name</h3>
                        <h5 class="price font-weight-bold">
                            <span id="productPrice">@Model.price.ToString("N0", vietnamCulture) </span><sup>đ</sup>
                        </h5>
                        @foreach (var item in Model.ProductOptions)
                        {
                            <p class="product-option">@item.product_option_value</p>
                        }
                        <!-- option -->
                        <div class="form-input clearfix product-quantity mb-3">
                            <label class="d-block mb-2">Số lượng</label>
                            <div class="input-group " style="width: fit-content">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary p-minus" type="button">-</button>
                                </div>
                                <input name="quantity" class="quantity form-control text-center" type="number" min="1" value="1" style="width: 60px">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary p-plus" type="button">+</button>
                                </div>
                            </div>
                        </div>

                        <div class="action">
                            <button type="submit" class="add-to-cart btn btn-primary" id="btnThemVaoGioHang">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Thông tin chi tiết về Sản phẩm</h3>
            <div class="row">
                <div class="col">
                    @Html.Raw(Model.description)
                </div>
            </div>
        </div>
    </div>

    <!-- Phần sản phẩm liên quan -->
    <div class="card mt-4">
        <div class="card-body">
            <h3>Sản phẩm liên quan</h3>
            <div class="row">
                @foreach (var product in ViewBag.related)
                {
                    var imageUrl = "~/wwwroot/Images/" + product.image_url;
                    <div class="card col-md-4 col-lg-3 my-3 shadow-sm">
                        <input type="hidden" id="sp_ma" value="@product.product_id" />
                        <input name="quantity" class="quantity" type="hidden" value="1">
                        <span class="d-none" id="productPrice">@product.price</span>
                        @*<div class="card position-relative">*@
                        <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.product_id})">
                            @if (product.image_url != null)
                            {
                                <img src="@Url.Content(imageUrl)" class="img-fluid w-100" alt="ảnh">
                            }
                            else
                            {
                                <img src="default-image.jpg" class="img-fluid" alt="Default Image">
                            }
                        </a>
                        <div class="card-body p-2">
                            <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.product_id})">
                                <h6 class="card-title pt-4 m-0 text-center font-weight-bold">@product.product_name</h6>
                            </a>
                            <div class="card-text text-center">


                                <p class="secondary-font text-primary">@product.price.ToString("N0", vietnamCulture) đ</p>

                                <p>Đã bán: @product.quantity_sold</p>
                                <div class="d-flex flex-wrap mt-3">
                                    <a href="#" data-productId="@product.product_id" class="btn w-100 btn-cart add-to-cart">
                                        Thêm vào giỏ hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End block content -->
@section Scripts {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $('.product-option').click(function () {
                    // Remove active class from all options
                    $('.product-option').removeClass('active');
                    // Add active class to the clicked option
                    $(this).addClass('active');
                    // Update the product price
                    var optionPrice = $(this).data('price'); 
                    $('#productPrice').text(optionPrice);
                });

                $('.gallery_item').click(function () {
                    var largeImageUrl = $(this).data('img');
                    $('#mainImage').attr('src', largeImageUrl);
                });
                $('.p-plus').click(function () {
                    var $input = $(this).closest('.input-group').find('.quantity');
                    var val = parseInt($input.val());
                    $input.val(val + 1);
                });
                $('.p-minus').click(function () {
                    var $input = $(this).closest('.input-group').find('.quantity');
                    var val = parseInt($input.val());
                    if (val > 1) {
                        $input.val(val - 1);
                    }
                });
                
            });
        </script>
    }