@model Electronic_G5.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    var vietnamCulture = new System.Globalization.CultureInfo("vi-VN");
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
}
<style>
    .filter.active {
        border: 1px solid #ff6a00;
    }

</style>
<!--Tất cả sản phẩm-->
<section id="all" class="my-5">
    <div class="container my-5">
        <div class="mb-4 mb-md-0">
            <a href="@Url.Action("Index", "Home")" class="btn px-2 py-1 btn-cart filter">Tất cả sản phẩm</a>
            <a href="@Url.Action("Index", "Home", new { filter = "latest" })" class="btn filter">Sản phẩm mới nhất</a>
            <a href="@Url.Action("Index", "Home", new { filter = "bestselling" })" class="btn filter">Sản phẩm bán chạy</a>
            <a href="@Url.Action("Index", "Home", new { filter = "sort" })" class="btn ms-auto filter">Sắp xếp theo giá</a>
        </div>


        <div class="isotope-container row gap-3">
            <!--all-->
            @foreach (var product in Model.Products)
            {
                var imageUrl = "~/wwwroot/Images/" + product.Product.image_url;
                <div class="card col-md-4 col-lg-3 my-3 shadow-sm">
                    <input type="hidden" id="sp_ma" value="@product.Product.product_id" />
                    <input name="quantity" class="quantity" type="hidden" value="1">
                    <span class="d-none" id="productPrice">@product.Product.price</span>
                    @*<div class="card position-relative">*@
                    <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.Product.product_id})">
                        @if (product.Product.image_url != null)
                        {
                            <img src="@Url.Content(imageUrl)" class="img-fluid w-100" alt="ảnh">
                        }
                        else
                        {
                            <img src="default-image.jpg" class="img-fluid" alt="Default Image">
                        }
                    </a>
                    <div class="card-body p-2">
                        <a href="@Url.Action("ChiTietSP","Home", new {product_id = product.Product.product_id})">
                            <h6 class="card-title pt-4 m-0 text-center font-weight-bold">@product.Product.product_name</h6>
                        </a>
                        <div class="card-text text-center">
                            @if (product.Product.ProductOptions.Count() > 1)
                            {
                                <p class="secondary-font text-primary">@product.Product.ProductOptions.First().product_option_price.ToString("N0", vietnamCulture) đ - @product.Product.ProductOptions.Last().product_option_price.ToString("N0", vietnamCulture) đ  </p>

                            }
                            else
                            {

                                <p class="secondary-font text-primary">@product.Product.price.ToString("N0", vietnamCulture) đ</p>
                            }
                            <p>Đã bán: @product.Product.quantity_sold</p>
                            <div class="d-flex flex-wrap mt-3">
                                <a href="#" data-productId="@product.Product.product_id" class="btn w-100 btn-cart add-to-cart">
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            }

        </div>

    </div>
</section>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.filter-button').click(function () {
                var filter = $(this).attr('data-filter');
                $('.filter-button').removeClass('active');
                $(this).addClass('active');
                if (filter == '*') {
                    $('.item').show();
                } else {
                    $('.item').hide();
                    $(filter).show();
                }
            });
        });

        $('.filter').click(function () {
            // Remove active class from all options
            $('.filter').removeClass('active');
            // Add active class to the clicked option
            $(this).addClass('active');
            // Update the product price
           
        });

    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    @*$(document).ready(function () {
        $('.btn-cart').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
            var productId = $(this).data('product-id');

            $.ajax({
                url: '@Url.Action("AddToCart", "Carts")',
                type: 'POST',
                data: { productId: productId, _quantity: 1 }, // Số lượng sản phẩm có thể được thay đổi
                success: function (result) {
                    // Chuyển hướng đến trang giỏ hàng
                    window.location.href = '@Url.Action("Cart", "Carts")';
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi nếu có
                    console.error(error);
                }
            });
        });
    });*@
    //menu cấp 2
    document.addEventListener("DOMContentLoaded", function () {
        var userIcon = document.getElementById("userIcon");
        var dropdown = document.getElementById("dropdown");

        userIcon.addEventListener("click", function (event) {
            event.preventDefault();
            dropdown.classList.toggle("show");
        });

        // Đóng dropdown khi nhấn ra ngoài
        document.addEventListener("click", function (event) {
            if (!userIcon.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.remove("show");
            }
        });
    });

    </script>

}