﻿@model PagedList.IPagedList<Electronic_G5.Models.Order>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Orders</h2>
<div class="mb-2">
    <div>
        @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary btn-sm text-bg-primary mb-3" })
        @using (Html.BeginForm("Index", "AdminOrders", FormMethod.Get, new { @class = "d-flex justify-content-between" }))
        {
            <div>
                <label for="page">Hiển thị</label>
                <input style="width: 50px" type="number" name="pageSize" value="@Model.PageSize" min="10" id="pageSize" />
                <span>dữ liệu</span>
            </div>
            <div class="d-flex align-items-center gap-2">
                <input type="text" value="@ViewBag.Keyword" name="searchString" placeholder="Search Order" class="form-control" />
                <input type="submit" value="Tìm kiếm" class="btn btn-info text-bg-primary btn-group" />
            </div>
        }
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Mã hóa đơn", "Index", new { sortProperty = "order_id", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th>
            @Html.ActionLink("Giá", "Index", new { sortProperty = "total_price", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th>
            @Html.ActionLink("Khách hàng", "Index", new { sortProperty = "User.full_name", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th>
            @Html.ActionLink("Trạng thái đơn", "Index", new { sortProperty = "order_status", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th>
            @Html.ActionLink("Phương thức thanh toán", "Index", new { sortProperty = "Payment.payment_method", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th>
            @Html.ActionLink("Ngày đặt", "Index", new { sortProperty = "order_date", sortOrder = ViewBag.SortOrder, searchString = ViewBag.Keyword })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.payment_method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td align="center">
                <a href="@Url.Action("Details", new {id = item.order_id})" class="btn btn-outline-info btn-sm text-black">
                    <i class='bx bx-search-alt-2'></i>
                </a>
                <a href="@Url.Action("Edit", new {id = item.order_id})" class="btn btn-primary btn-sm">
                    <i class='bx bxs-pencil'></i>
                </a>
                <a href="@Url.Action("Delete", new {id = item.order_id})" class="btn btn-danger btn-sm">
                    <i class='bx bx-trash-alt'></i>
                </a>
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="text-right justify-content-end">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>
<nav class="database-pagination" style="display: flex; justify-content: center; margin-top: 20px">
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.currentSize }))
</nav>