@model Electronic_G5.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <h4>Xóa người dùng</h4>

    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Role.role_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role.role_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.full_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.full_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.image)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updated_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updated_at)
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color px-3 mb-3">
            <input type="submit" value="Delete" class="btn btn-danger text-bg-danger" />
            <button class="btn">
                @Html.ActionLink("Back to List", "Index")

            </button>
        </div>
    }
</div>
