
@model Electronic_G5.Models.ProductViewModel

@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var imageUrl = "~/wwwroot/Images/" + Model.Product.image_url;
}
<style>
    .image-upload-container {
        text-align: center;
        margin-top: 20px;
    }

    .image-upload-box {
        border: 2px dashed #cccccc;
        border-radius: 5px;
        padding: 30px;
        position: relative;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        background-color: #f8f8f8;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }

        .image-upload-box.dragging {
            background-color: #e0e0e0;
        }

        .image-upload-box p {
            font-size: 16px;
            color: #666666;
            margin: 0;
        }

        .image-upload-box a {
            color: #007bff;
            text-decoration: none;
        }

            .image-upload-box a:hover {
                text-decoration: underline;
            }

    .upload-icon {
        margin-top: 20px;
    }

        .upload-icon img {
            width: 50px;
            height: 50px;
            opacity: 0.5;
        }
</style>

@using (Html.BeginForm("Edit", "AdminProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row g-2">
        <h4>Sửa sản phẩm</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Product.product_id)
        <div class="row">
            <div class="form-group">
                <div class="order-1 col-md-4 text-end ml-auto">
                    @*<button type="button" id="btnSave" class="btn btn-primary">Thêm</button>*@
                    <button type="submit" id="btnSave" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
            <div class="col-8 shadow p-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.product_name, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Product.product_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.product_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.image_url, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                    <div class="col-md-12">
                        <div class="image-upload-container">
                            <div class="image-upload-box" id="imageUploadBox" style="background-image: url(@Url.Content(imageUrl))">
                                <p>Kéo thả tệp hoặc <label for="imageInput" class="text-decoration-underline text-primary">Chọn từ thiết bị</label></p>
                                <div class="upload-icon">
                                    <img src="~/assets/image/upload.png" alt="Upload Icon" />
                                </div>
                                <input type="file" name="imageInput" id="imageInput" accept="image/*" style="display: none;" value="@Model.Product.image_url" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product.description, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Product.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Product.description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 shadow">
                    <h5>Tổ chức</h5>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.category_id, "Danh mục", htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
                        <div class="col-md-12">
                            @*@Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control", @id = "Product_category_id" })*@
                            @Html.DropDownListFor(model => model.Product.category_id,
                            new SelectList(ViewBag.category_id as System.Collections.IEnumerable, "Value", "Text"),
                            "Select Category",
                            new { @class = "form-control", @id = "Product_category_id" })
                            @Html.ValidationMessageFor(model => model.Product.category_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.SKU, htmlAttributes: new { @class = "control-label col-md-2 font-weight-bold" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Product.SKU, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Product.SKU, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Product.stock, htmlAttributes: new { @class = "control-label col-md-4 font-weight-bold" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Product.stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Product.stock, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="p-3 shadow mt-3">
                    <h5 style="padding-left: 12px">Lựa chọn</h5>

                    <div id="productOptions">
                        <div class="form-group option-item">
                            <div class="col-md-12">
                                <input type="text" class="form-control option-name" placeholder="Tên: " />
                            </div>
                        </div>
                        <div class="form-group option-item">
                            <div class="col-md-12">
                                <input type="text" class="form-control option-value" placeholder="Giá trị: " />
                            </div>
                        </div>
                        <div class="form-group option-item">
                            <div class="col-md-12">
                                <input type="text" class="form-control option-price" placeholder="Giá tiền: " />
                            </div>
                        </div>
                    </div>
                    <button type="button" id="add_option" class="btn btn-outline-primary w-100">Thêm lựa chọn</button>
                    <div id="productOptionContainer">
                        @Html.Partial("_ProductOptionList", Model.ProductOptions)
                    </div>
                </div>
                <div class="p-3 shadow mt-3">
                    <h5>Gallery</h5>
                    <div>
                        <input class="form-control" type="file" id="imageUpload" name="imageUpload" />
                        <button type="button" id="uploadImageButton" class="btn btn-outline-primary mt-2 w-100">Tải ảnh lên</button>
                    </div>
                    <div id="imageContainer" class="d-flex flex-wrap gap-2 mt-2">
                        @Html.Partial("_ImageList", Model.Images)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<p id="msg"></p>
@if (@ViewBag.product != null)
{
    <p class="alert-danger text-bg-danger bg-danger">@ViewBag.product</p>
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Add option
        $('#addOption').click(function () {
            var name = $('#newOptionName').val();
            var value = $('#newOptionValue').val();
            var price = $('#newOptionPrice').val();
            $.post('@Url.Action("AddOption", "AdminProducts")', { name: name, value: value, price: price }, function(data) {
                $('#optionsList').append(data);
                $('#newOptionName').val('');
                $('#newOptionValue').val('');
                $('#newOptionPrice').val('');
            });
        });

        // Remove option
        $(document).on('click', '.remove-option', function() {
            var optionId = $(this).data('id');
            $.post('@Url.Action("RemoveOption", "AdminProducts")', { id: optionId }, function() {
                $('#option-' + optionId).remove();
            });
        });

        // Upload image
        $('#uploadImage').click(function() {
            var fileData = new FormData();
            fileData.append('file', $('#newImage')[0].files[0]);
            $.ajax({
                url: '@Url.Action("UploadImage", "AdminProducts")',
                type: 'POST',
                data: fileData,
                contentType: false,
                processData: false,
                success: function(data) {
                    $('#imagesList').append(data);
                    $('#newImage').val('');
                }
            });
        });

        // Remove image
        $(document).on('click', '.remove-image', function() {
            var imageId = $(this).data('id');
            $.post('@Url.Action("RemoveImage", "AdminProducts")', { id: imageId }, function() {
                $('#image-' + imageId).remove();
            });
        });
    </script>
}

