@model Electronic_G5.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" >
    <h4>Thêm mới danh mục</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.category_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.category_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.category_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.parent_id, "Danh mục cha", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("parent_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.parent_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 160px">Thêm</button>
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-light", @style = "width: 160px" })
    </div>
</div>
}
@if (@ViewBag.err != null)
{
    <p class="alert-danger text-bg-danger bg-danger">@ViewBag.err</p>
}


