@model Electronic_G5.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
=
<h3>Bạn muốn xóa danh mục này?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Danh mục cha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category1.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="d-flex gap-3 mt-3">
            <input type="submit" value="Xóa" class="btn btn-outline-danger btn-sm" style="width: 160px" />
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-sm btn-light", @style = "width: 160px" })

        </div>
    }
</div>
